{% extends "base.html" %}

{% block content %}

<h2> Список профессий </h2>
{% set professions = ["Инженер-исследователь", "Пилот", "Строитель", "Экзобиолог",
"Врач", "Инженер по терроформированию", "Климатолог", "Специалист по радиоционной защите",
"Астрогеолог", "Гляциолог", "Инженер жизнеобеспечения", "Метеоролог", "Оператор марсохода",
"Киберинженер", "Штурман", "Пилот дронов"] %}

<{{ list_name }}>
{% for profession in professions %}
    <li> {{ profession }} </li>
{% endfor %}
</{{ list_name }}>
{% endblock %}